nav {
  position: absolute;
  top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 5;
}

.sideIcons {
  position: absolute;
  right: 1rem;
  top: 4vh;
  transform: scale(0.8);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  z-index: 10;
}

.shopping-cart {
  transform: scale(1.8);
  cursor: pointer;
}

.shopping-cart:hover {
  text-shadow: 0px 0px 10px limegreen;

  filter: drop-shadow(0px 0px 10px limegreen);
}

/* .vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/

.horizontal {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 150px;
  position: absolute;
  left: 10%;
}

::-webkit-scrollbar-track {
  /* border: 2px solid #e2e2e2; */
  background: #e2e2e2;
  border-left: 4px solid transparent;
  border-right: 143px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  height: 18px;
  border-right: 140px solid transparent;
  background-clip: padding-box;
}
