@font-face {
  font-family: "airnt";
  src: url(./fonts/airnt-font/AirntBold-VGo0z.otf);
}

@font-face {
  font-family: "febre";
  src: url(./fonts/FEBRE-Black/febreblack-regular.otf);
}

@font-face {
  font-family: "monocode";
  src: url(./fonts/Monocode/Monocode-Regular-V01.02b.ttf);
}

@font-face {
  font-family: "kyiv";
  src: url(./fonts/Kyiv-Machine/KyivMachine-d9wOX.ttf);
}

#root {
  height: 100vh;
  background: #131313;
  overflow-x: hidden;
  /* background-image: linear-gradient(0deg, #894589 0%, #111111 100%); */
}

div:first-child {
  touch-action: none;
  cursor: inherit !important;
}

.picker {
  position: absolute !important;
  top: 7rem;
  left: 15rem;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
